<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- include('title') %>
    <h3>BTC Charts</h3>
    <div id="chart">
        
    </div>
    <div id="coinmarketcap-widget-marquee" coins="1,1027,52,2,74" currency="USD" theme="light" transparent="true" show-symbol-logo="true"></div>
    <%- include('listchart') %>
    <a href="/">돌아가기</a>>
  </body>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  <script src="/javascripts/chart.js"></script>
</html>
