<!DOCTYPE html>
<html>
  <head>
    <title>MINCHO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- include('title') %>
    <a href="/chart">차트보기</a>
  </body>
</html>
