<!DOCTYPE html>
<html>
  <head>
    <title>안녕</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <%- include('title') %>
    <a href="/chart">차트보기</a>>
  </body>
</html>
