<!DOCTYPE html>
<html>
  <head>
    <title>MINCHO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- include('title') %>
    <div class="body_cont">
      <img class="index_img" src="/images/trade.png">
    </div>
    <div class="w3-content w3-section" style="max-width:500px">
      <img class="mySlides" src="/images/timo.png" style="width:100%">
      <img class="mySlides" src="/images/doge.png" style="width:100%">
      <img class="mySlides" src="/images/secure.png" style="width:100%">
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
