<!DOCTYPE html>
<html>
  <head>
    <title>MINCHO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- include('title') %>
   
    <div class="main_top">
    
      <div class="main_img">
        <div class="main_text">

          <h1>MINCHO는 모두를 위한 거래소입니다.</h1>
          <h3>우리는 암호 화폐를 믿고 누구나 암호 화폐에 동참할 수 있는<br> 거래소를 구축하고 있습니다.</h3>
       
        </div>
        <img src="/images/timo.png" >
        <img src="/images/doge.png">
        <img src="/images/secure.png">

      
        
      </div>
      

    </div>
   
        <div class="text">
          <div class="text_1">
            <img src="/images/mincho_head.png">
          <h1>
            MINCHO에서 가상자산을 거래하세요. 
            <br>
            MINCHO 거래소는 
            
              신념와 신뢰를 바탕으로 설립된 거래소 입니다.
            
            <br>
            당신의 가상자산 첫 거래, 믿을 수 있는 MINCHO 시작하세요! 
          </h1>
          <div class="to_start">
            <button>
              <% if(logined == false){ %>
                <a href="/login"><h2>거래 시작하기</h2></a>
              <% }else{ %>
                <a href="/trade"><h2>거래 시작하기</h2></a>
              <% } %>
            </button>           

          </div>
          

          </div>
          
        </div>

     
      <!-- <div class="text2"> -->
        <!-- <div class="text_1_1"> -->
          <!-- <h1>MinCho.io</h1> -->
      
        <!-- <div class="flex feature-box container">
          <dl>
            <dt>
              <h2>안전성</h2>
              <h5 class="safe">안전의 포괄적인 보호</h5>
            </dt>
            <dd >MinCho.io는 중앙화 및 탈중앙화를 
               통해 사용자 자산의 안전을 보호하고 또한, MinCho.io는 
              자산 안전을 위해  
              노력하는 <br>거래소입니다.
            </dd>
          </dl>

          <dl>
            <dt>
              <h2>신속성</h2>
              <h5>신속한 거래와 입출금</h5>
            </dt>
            <dd>
              MinCho.io는 필수 경험과 기술을 통해 
              사용자에게 높은 효율성의 신속한<br> 실시간 거래와 입출금을 제공하고 있습니다.
            </dd>
          </dl>
          
          <dl>
            <dt>
              <h2>안정성</h2>
              <h5>꾸준한 안정성</h5>
            </dt>
            <dd>
              MinCho.io는 안정적이고 신뢰할 수 있는 서비스를 제공하고 있고, 끊임없는 발전과 기술 연구를 통해
              사용자에게 최고의 거래를 제공할 수 있도록 최선을 다하고 있습니다.
            </dd>
          </dl>

          <dl>
            <dt>
              <h2>신뢰도</h2>
              <h5>높은 거래소 신뢰도</h5>
            </dt>
            <dd>
              
              MinCho.io는 업계 규정을 엄격하게 지키며, <br>시장 조작을  금기합니다.
              MinCho.io는 공개, 투명 신념으로 존재합니다.
            </dd>
          </dl>

        </div>
        -->
        </div>
        
      </div>
     


    <script src="/javascripts/index.js"></script>
  </body>
</html>
