<script>
    $(function(){
        setInterval(function(){
            $.ajax({
                url: '/chart/account',
                dataType: 'json',
                type: 'GET',
                // data: {},
                success: (result) => {
                    console.log(result['data']);
                }
            })
        },3000);
    })
</script>
<div id="showlist">
    <p>USDT</p>
    <ul>
        <li>
            <div>BTC</div>
            <div class="BTCprice"></div>
        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</div>