<div class="header_area">
    <a href="/">
        <img src="/images/mincho_transparent.png">
    </a>
    <ul>
        <a href="/trade"><li>trade</li></a>
        <a href="/wallet"><li>wallet</li></a>
        <li>my trade</li>
        <a href="/trends"><li>trends</li></a>
        <a href="/support"><li>support</li></a>
        <% if(logined == true) { %>
        <a href="/logout"><li>로그아웃</li></a>
        <% } else { %>
        <a href="/login"><li>로그인/회원가입</li></a>
        <% } %>
    </ul>
</div>