<div class="header_area">
    <img src="/images/mincho_transparent.png">
    <ul>
        <li>trade</li>
        <li>wallet</li>
        <li>my trade</li>
        <li>trends</li>
        <li>support</li>
        <li>signin/signup</li>
    </ul>
</div>