<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/trade.css"/>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <title>Trade</title>
        <script>
            function percent(per){
            $.ajax({
                url: "/trade/number",
                type: "POST",
                dataType: "json",
                data : {"percent":per},
            })
            .done((result)=>{
                $('#user_krw').val(result['result']);
            })
            .fail(function(){
                console.log("ajax 퍼센트 에러");
            });
            }
        </script>
    </head>

    <body class="trade_body">
        <%- include('title') %>
        <div class="allbox">
            <div class="total_box">
                <div class="box_one">
                    <p class="viewchart">Bitcoin</p>
                    <div class="showcoin">
                        <div class="priceone">
                            <div class="coin_value"></div>
                            <div class="krw"> KRW</div>
                        </div>
                        <div class="before">
                            <div class="plu"></div>
                            <div class="coin_before"></div>
                        </div>
                        <div class="change_d">
                            <div class="arrow"></div>
                            <div class="change_price"></div>
                        </div>
                    </div>
                </div>
                
                <div class="box_two">
                    <div class="first_box">
                        <div>고가</div>
                        <hr>
                        <div class="highprice red"></div>
                    </div>
                    <div class="second_box">
                        <div>저가</div>
                        <hr>
                        <div class="lowprice blue"></div>
                    </div>
                </div>
            </div>
            <div id="chart_selector">
                <select id="chart_en_name_select" name="chart_en_name">
                    <option value="KRW-BTC">Bitcoin</option>
                    <option value="KRW-ETH">Ethereum</option>
                    <option value="KRW-LTC">Litecoin</option>
                    <option value="KRW-XRP">Ripple</option>
                    <option value="KRW-DOGE">Dogecoin</option>
                    <option value="KRW-BCH">Timocoin</option>
                </select>
    
                <select id="chart_time_select" name="chart_time">
                    <option value="minutes/1">1 minute</option>
                    <option value="minutes/3">3 minute</option>
                    <option value="minutes/5">5 minute</option>
                    <option value="minutes/10">10 minute</option>
                    <option value="minutes/15">15 minute</option>
                    <option value="minutes/30">30 minute</option>
                    <option value="minutes/60">60 minute</option>
                    <option value="minutes/240">240 minute</option>
                    <option value="days">1 day</option>
                    <option value="weeks">1 week</option>
                    <option value="months">1 month</option>
                </select>
    
                <button id="chart_selector_btn">search</button>
            </>
            
            <div id="chart">
            </div>
    
            <div class="buybox">
                <form id="buy" action="/trade/buy" method="POST">
                    <h3>매수</h3>
                    <div>
                        <div id="leftdiv">주문가능</div>
                        <div>
                            <% if(logined == true){ %>
                                <% if(data != ""){ %>
                                    <%= data[0].balance.toLocaleString('ko-KR') %>
                                <% }else { %>
                                    0
                                <% } %>
                                KRW
                            <% } %>
                            
                        </div>
                    </div>
                    <div class="price_order">
                        <div id="leftdiv">주문가격</div>
                        <input class="coin_value" name="coin_value"></input>
                    </div>
                    <div>
                        <div id="leftdiv">주문금액</div>
                        <input id="user_krw" name="number" type="number" style="width: 70%;" required> KRW<br>
                        <div class="centerdiv">
                            <input class="per" onclick="percent(25)" type="button" value="25%">
                            <input class="per" onclick="percent(50)" type="button" value="50%">
                            <input class="per" onclick="percent(75)" type="button" value="75%">
                            <input class="per" onclick="percent(100)" type="button" value="100%">
                        </div>
                    </div>
                    <div>수수료 : 0.05%</div>
                    <br>
                    <% if(logined == false){ %>
                        <input class="endbtn" value="로그인 후 이용하세요" style="text-align: center;">
                    <% }else{ %>
                        <input class="endbtn" type="submit" value="매수">
                    <% } %> 
                </form>
                <form id="sell" action="">
                    <h3>매도</h3>
                    <div>
                        <div id="leftdiv">주문가능</div>
                        <div>
                            <% if(logined == true){ %>
                                <% if(data != ""){ %>
                                    <%= data[0].balance.toLocaleString('ko-KR') %>
                                <% }else { %>
                                    0
                                <% } %>
                                KRW
                            <% } %>
                            
                        </div>
                    </div>
                    <div class="price_order">
                        <div id="leftdiv">매도가격</div>
                        <div class="coin_value"></div>
                    </div>
                    <div>
                        <div id="leftdiv">주문금액</div>
                        <input type="number" style="width: 80%;"> 개<br>
                        <div class="centerdiv">
                            <input onclick="" id="per" type="button" value="25%">
                            <input onclick="" id="per" type="button" value="50%">
                            <input onclick="" id="per" type="button" value="75%">
                            <input onclick="" id="per" type="button" value="100%">
                        </div>
                    </div>
                    <div>수수료 : 0.05%</div>
                    <br>
                    <input class="endbtn" type="submit" value="매도">
                </form>
            </div>
            
            <table border=1 id="table_ticker" class="table table-hover text-center">
                <thead>
                    <tr>
                        <td>영문명</td>
                        <td>현재가</td>
                        <td>전일대비</td>
                        <td>거래대금</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div 
            id="coinmarketcap-widget-marquee" 
            coins="1,1027,52,2,74" 
            currency="USD" 
            theme="light" 
            transparent="true" 
            show-symbol-logo="true"
        >
        </div>
    </body>

    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/trade.js"></script>
</html>