*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
/* header */
.header_area{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 0 10px 15px;
}
.header_area img{
  height: 40px;
  align-items: center;
  /* width: 250px; */
}
.header_area ul{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  list-style: none;
}

#chart{
  margin-left: 10px;
  margin-top: 10px;
}