body{
    background-color: #eeeeee;
}
a{
    color: #111;
}
.trends-container{
    position: relative;
    /* width: 1400px; */
    margin: 0 auto;
    padding-top: 72px;
    transition: all .4s ease-out;
    display: flex;
    justify-content: center;
}
.left{
    width: 990px;
    /* float: left; */
}
.charts{
    display: flex;
    justify-content: left;
}
.chartsbox{
    /* margin-left: 10px; */
    text-align: center;
    background: #fff;
    border-radius: 5px 5px;
    padding: 15px 15px;
    border: 1px solid rgb(219, 219, 219)
}
.red{
    color : red;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}
.blue{
    color : blue;
    font-weight: bolder;
}
#black{
    color : #000;
}
.notice_container{
    display: flex;
    align-items: center;
}
.notice{
    border-right: 1px solid #999;
    margin-top: 10px;
    padding: 2px;
    padding-left: 10px;
    width: 880px;
    height: 50px;
    overflow: hidden;
    background-color: #5d687e;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
}
.rolling{
    position:relative;
    width:100%;
    height:auto;
}
.rolling li{
    width:100%;
    height:50px;
    line-height:50px;
}
.box_container{
    height: 50px;
    width: 100px;
    display: flex;
    margin-top: 10px;
    line-height: 3.3;
}
.rolling_stop{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #5d687e;
    border-right: 1px solid #999;
}
.rolling_start{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #5d687e;
}

/* 뉴스란 */

.trends-news{
    display: block;
    width: 880px;
    height: 100%;
    background-color: #fff;
    padding: 5vw;
    margin: 10px auto;
}
.trends-news .trends-news-card{
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.trends-news .trends-news-card .trends-news-img{
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    height: 170px;
    object-fit: cover;
}
.trends-news .trends-news-card .trends-news-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.trends-news .trends-news-card .trends-news-inf{
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin-left: 20px;
}
.trends-news .trends-news-card .trends-news-inf .cr_title{
    display: block;
    font-size: 21px;
    margin-bottom: 10px;
}
.trends-news .trends-news-card .trends-news-inf .cr_context{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    color: #444;
    letter-spacing: -.075em;
}
.trends-news .trends-news-card .trends-news-inf .cr_writer{
    display: block;
    font-size: 13px;
    color: #0092ca;
}